<div style="padding: 50px;">
  <.form :let={f} for={@changeset} action={~p"/topics/:id/edit"}>
      <.input field={f[:title]} placeholder="Title" errors={f[:field].errors} />
      <.button>Update</.button>
  </.form>
</div>